/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: rgba(49, 71, 89, 0.6);
  color: #fff;
  background: url("../img/bg.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(49, 71, 89, 0.6);
}

a.color-white {
  color: white
}

a {
  color: #24b7a4;
}

a:hover {
  color: #36d8c3;
  text-decoration: none;
}


.text {
  color: #fff;
  text-shadow: 0px 1px 12px #fff;
  font-size: 2rem;
  text-align: center;
  position: relative;
  top: 3rem;
  margin: auto 1rem;
}

.countdown-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
  margin: auto;
}

.countdown-container .count-down {
  width: 90px;
  height: 90px;
  margin: 1rem;
  border: 1px solid #c4c4c4;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  text-align: center;
  position: relative;
}

.countdown-container .heading-text {
  font-size: 1.425rem;
  font-weight: bold;
  color: white;
  margin: 10px auto 20px auto;
}


@media (min-width: 768px) {

  .countdown-container .heading-text {
    font-size: 2.625rem;
    font-weight: bold;
    color: white;
    margin: 10px auto 20px auto;
  }


  .countdown-container .count-down {
    width: 170px;
    height: 170px;
    padding: 12px;
    margin: 1rem;
  }

}

@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
  }
}